* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  margin: 2rem 0;
  text-align: center;
}

table {
  margin: 0 auto;
  width: 95%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

.player.top_header {
  text-align: center;
}

.player.side_header {
  text-align: left;
  background-color: lightgreen;
}

.player {
  padding: 15px 8px;
  background-color: #f2f2f2;
}

th td {
  padding: 15px;
  text-align: left;
}

tr td {
  text-align: center;
  width: 90px;
}

.bg_gray {
  background-color: #f2f2f2;
}
