:root {
  --forest-green: #1e8526ff;
  --raisin-black: #1a181bff;
  --antiflash-white: #f4f4f6ff;
  --misty-rose: #fae1dfff;
  /* --desert-sand: #e4c3adff; */
  --desert-sand: #ad7755;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--raisin-black);
}

header {
  background-color: rgb(67, 125, 77);
  /* border-bottom: 1px solid rgb(67, 125, 77); */
  text-align: center;
  /* padding: 1rem; */
}

#blue-white .week {
  background-color: rgb(207, 226, 243);
}
#eggshell .week {
  /* background-color: rgb(235, 230, 230); */
  background-color: #ebe6e6;
}
#beige .week {
  background-color: rgb(246, 246, 221);
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1rem;
}

.week {
  width: 180px;
  height: auto;
  /* margin: 1rem; */
  padding: 0.5rem;

  border-radius: 5px;
}

.dates {
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 0.5rem;
}

.player-grid {
  width: 100%;
  max-width: 400px;
}
.player-standings {
  width: 100px;
}

/* Player Grid */

.player-grid {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(8, 1fr);
  padding: 0;
  gap: 0;
}

.player-grid * {
  text-align: center;
  border: 1px solid black;
}

.player-grid .label {
  padding: 4px 0.3px 0 0.5px;
  background-color: rgb(207, 226, 243);
  font-size: 12px;
  font-weight: bold;
}

.player-grid .label.side {
  width: 60px;
}

table {
  /* margin: 0 auto; */
  /* width: 95%; */
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

.player.top_header {
  text-align: left;
  transform: rotate(270deg);
  height: 70px;
  padding-left: 0.3rem;
  width: 70px;
}

.player.side_header {
  text-align: left;
  width: 70px;
  background-color: rgb(207, 226, 243);
  padding-left: 0.3rem;
}

.player {
  /* padding: 15px 8px;
  background-color: #f2f2f2; */
  text-align: left;
}

th td {
  padding: 15px;
  text-align: left;
}

tr td {
  text-align: center;
  width: 30px;
}

.bg_gray {
  background-color: #f2f2f2;
}
