:root {
  --forest-green: #1e8526ff;
  --raisin-black: #1a181bff;
  --antiflash-white: #f4f4f6ff;
  --misty-rose: #fae1dfff;
  /* --desert-sand: #e4c3adff; */
  --desert-sand: #ad7755;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--raisin-black);
}

header {
  background-color: rgb(67, 125, 77);
  /* border-bottom: 1px solid rgb(67, 125, 77); */
  text-align: center;
  /* padding: 1rem; */
}

h3,
h4 {
  margin: 0.5rem 0;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  line-height: 1.3;
}
.sidenav ul li a {
  padding: 0;
  margin: 0;
}

section p {
  margin-top: 1rem;
}

/* TEMP Register section in red  */
#register > p {
  color: red;
}

#gen-news p {
  margin-top: 1rem;
}
#scoring p {
  margin-top: 0rem;
}

.scoring-example {
  margin-top: 1rem;
  width: 70%;
  display: grid;
  grid-template-columns: 60px repeat(9, 40px) 50px;
  text-align: center;
}

.scoring-example .label {
  /* width: 80px; */
  text-align: left;
}
.scoring-example span {
  border: 1px solid grey;
}
.hole-won {
  background-color: lightgreen;
}

/* FAQ section */
.faq-answer {
  margin: 0.3rem 0 0.9rem 0;
}

#blue-white .week {
  background-color: rgb(207, 226, 243);
}
#eggshell .week {
  /* background-color: rgb(235, 230, 230); */
  background-color: #ebe6e6;
}
#beige .week {
  background-color: rgb(246, 246, 221);
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

.week {
  width: 180px;
  height: auto;
  /* margin: 1rem; */
  padding: 0.5rem;

  border-radius: 5px;
}

.dates {
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 0.5rem;
}

/* .player-standings {
  width: 100px;
} */

/* Player Grid */

.player-grid {
  display: grid;
  place-content: center;
  grid-template-columns: 60px repeat(7, 1fr);
  gap: 0;
  max-width: 400px;
}

.player-grid *,
.standings-grid * {
  text-align: center;
  border: 1px solid black;
}

.player-grid .label,
.standings-grid .label {
  padding: 4px 0.3px 0 0.5px;
  /* background-color: rgb(207, 226, 243); */
  font-size: 12px;
  font-weight: bold;
}

.player-grid .label.top,
.standings-grid label.top {
  text-align: center;
}

.player-grid .label.side {
  text-align: left;
  padding-left: 0.3rem;
}

/* background colors for divisions (generatePlayerGrid function */
.player-grid .label.top.lightblue,
.player-grid .label.side.lightblue,
.player-grid span .lightblue {
  background-color: rgb(207, 226, 243);
}

.player-grid .label.top.eggshell,
.player-grid .label.side.eggshell,
.player-grid span .eggshell {
  background-color: rgb(235, 230, 230);
}

.player-grid .label.top.beige,
.player-grid .label.side.beige,
.player-grid span .beige {
  background-color: rgb(246, 246, 221);
}

.standings-grid .label.side {
  text-align: left;
  padding-left: 0.3rem;
}

.shaded {
  /* background-color: #f2f2f2; */
  background-color: #e0dddd;
}

/* Standings Grid styles */
.standings-grid .label.top.lightblue,
.standings-grid .label.side.lightblue,
.standings-grid span .lightblue {
  background-color: rgb(207, 226, 243);
}
.standings-grid .label.top.eggshell,
.standings-grid .label.side.eggshell,
.standings-grid span .eggshell {
  background-color: rgb(235, 230, 230);
}

.standings-grid .label.top.beige,
.standings-grid .label.side.beige,
.standings-grid span .beige {
  background-color: rgb(246, 246, 221);
}

.standings-grid {
  display: grid;
  grid-template-columns: 80px 50px;
  gap: 0;
}

footer {
  background-color: rgb(67, 125, 77);
  color: #fff;
  text-align: center;

  padding: 1rem;
}

.email {
  font-weight: bold;
  font-style: italic;
}
