:root {
  --forest-green: #1e8526ff;
  --raisin-black: #1a181bff;
  --antiflash-white: #f4f4f6ff;
  --misty-rose: #fae1dfff;
  /* --desert-sand: #e4c3adff; */
  --desert-sand: #ad7755;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--raisin-black);
}

header {
  background-color: #b8b5d3;
  text-align: center;
  padding: 1rem;
}

#blue-white .week {
  background-color: lightblue;
}
#eggshell .week {
  background-color: rgb(235, 230, 230);
}
#beige .week {
  background-color: rgb(246, 246, 221);
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1rem;
}

.week {
  width: 180px;
  height: auto;
  /* margin: 1rem; */
  padding: 0.5rem;

  border-radius: 5px;
}

.dates {
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 0.5rem;
}
