:root {
  /* --primary-color: #1ba098; */
  --primary-color: #009b72;
  --button-color: #8d89db;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100vh;
  padding: 0 0.25rem;
  color: black;
}

body {
  max-width: 768px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.courseSubHead h3 {
  color: var(--primary-color);
}
.courseSubHead div {
  width: 90%;
  display: flex;
  margin: 0 auto;
  line-height: 1.7;
}
.courseSubHead section {
  width: 33.333%;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: 1em;
  font-size: 0.6em;
}

.prefix {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.From-Form > *,
.To-Form > *,
.calcAndShow > * {
  margin-bottom: 4px;
}

input {
  width: 100%;
}
input[type='text'] {
  /* color: var(--t3-color5); */
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
}
input[type='text']::-webkit-input-placeholder {
  /* Chrome */
  color: var(--t3-color5);
  font-style: italic;
}
input[type='text']::-moz-placeholder {
  /* Mozilla Firefox */
  color: var(--t3-color5);
  font-style: italic;
}
input[type='text']:-ms-input-placeholder {
  /* Internet Explorer */
  color: var(--t3-color5);
  font-style: italic;
}
input[type='text']:-o-input-placeholder {
  /* Opera */
  color: var(--t3-color5);
  font-style: italic;
}
#metricForm,
#fromPrefix,
#baseUnit,
#toPrefix {
  font-size: 14px;
}
#metricFrom.valid {
  border-color: #36cc36;
}

#metricFrom.invalid {
  border-color: orange;
}

.metricForm {
  /* border: 1px dashed blue; */
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.From-Form,
.To-Form,
.calcAndShow {
  flex: 0 0 49%;
  /* border: 1px solid lightseagreen; */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 4px 0 4px;
}

.From-Form .labels,
.To-Form .labels,
.calcAndShow .labels,
.physicsUnits .labels {
  color: #fff;
  background: var(--primary-color);
  /* margin: 0 -4px 4px -4px; */
  text-align: center;
}

.From-Form > section,
.To-Form > section {
  display: flex;
  flex-wrap: wrap;
}
.From-Form > section > *,
.To-Form > section > * {
  width: 25%;
}
.To-Form {
  justify-content: space-between;
}

.physicsUnits > section {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em auto;
}
.physicsUnits > section > * {
  width: 33.33%;
}

/* radio inputs */
.radio {
  width: 100%;
  font-size: 0.75rem;
  margin-top: 0.5em;
}
.radio label {
  display: inline-block;
}
.radio input {
  display: inline-block;
  width: auto;
}

.To-Form #toPrefix {
  margin-top: 22px;
}

.calcAndShow,
.physicsUnits {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  height: 1.5em;
  width: 50%;
  margin: 1em auto;
  padding: 0.5em;
  border: none;
  outline: none;
  border-radius: 0.8em;
  color: #fff;
  background-color: var(--button-color);
  /* background-color: #7d7abc;
  background-color: #2e382e;
  background-color: #41658a; */

  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  background-color: #6b67b4;
}
button:focus {
  border: 2px solid #ef5b5b;
}

#metricToMetricResult {
  font-weight: bold;
  font-size: 12pt;
}

.result p {
  margin: 5px 0 5px 0;
  /* padding: 20px 0 0 0; */
}

@media screen and (min-width: 650px) {
  .metricForm {
    flex-direction: row;
    /* margin: 0; */
    max-width: 768px;
  }

  .From-Form,
  .To-Form {
    flex: 0 0 50%;
  }

  .result {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  .result {
    /* flex: 1 0 90%; */
  }
}
