html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100vh;
  padding: 0 1rem;
}

h2 {
  text-align: center;
}

.courseSubHead {
  color: #4db64d;
}

.From-Form > *,
.To-Form > *,
.calcAndShow > * {
  margin-bottom: 4px;
}

input {
  width: 100%;
}
input[type='text'] {
  color: var(--t3-color5);
  font-style: italic;
  font-size: 12px;
}
input[type='text']::-webkit-input-placeholder {
  /* Chrome */
  color: var(--t3-color5);
  font-style: italic;
}
input[type='text']::-moz-placeholder {
  /* Mozilla Firefox */
  color: var(--t3-color5);
  font-style: italic;
}
input[type='text']:-ms-input-placeholder {
  /* Internet Explorer */
  color: var(--t3-color5);
  font-style: italic;
}
input[type='text']:-o-input-placeholder {
  /* Opera */
  color: var(--t3-color5);
  font-style: italic;
}
#metricForm,
#fromPrefix,
#baseUnit,
#toPrefix {
  font-size: 14px;
}
#metricFrom.valid {
  border-color: #36cc36;
}

#metricFrom.invalid {
  border-color: orange;
}

.metricForm {
  /* border: 1px dashed blue; */
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.From-Form,
.To-Form,
.calcAndShow {
  flex: 0 0 45%;
  /* border: 1px solid lightseagreen; */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 4px 0 4px;
}

.From-Form .labels,
.To-Form .labels,
.calcAndShow .labels {
  background: lightseagreen;
  /* margin: 0 -4px 4px -4px; */
  text-align: center;
}

.To-Form #toPrefix {
  margin-top: 22px;
}

.calcAndShow {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  height: 18px;
  width: 60px;
  margin: 0;
  padding: 0;
}

#metricToMetricResult {
  font-size: 12pt;
}

.result p {
  margin: 5px 0 5px 0;
  /* padding: 20px 0 0 0; */
}

@media screen and (min-width: 650px) {
  .metricForm {
    flex-direction: row;
    margin: 0;
    max-width: 800px;
  }

  .From-Form,
  .To-Form,
  .calcAndShow {
    flex: 0 0 30%;
  }

  .result {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  .result {
    /* flex: 1 0 90%; */
  }
}
