/*

PART 1:

You've been ordered to improve your company's newsletter form.
You can design it however you want, but the manager wants the button to
animate both on the :hover and the :active state.

1. Redesign the page (e.g. colors, positions, sizing, spacing)
2. Improve the button's hover effect
3. Improve the button's click effect

SKILLS:
color, background, margin, padding, border-radius,
CSS pseudo selectors (:active, :hover), transform
*/

/* color variables */
/* https://www.color-hex.com/color-palette/99315 */
:root {
  --darker: #8664b3;
  --lighter: #cdb5ee;
  --lighter2: #e2d0fc;
  --background: rbg(200, 200, 200);
  --background: #fefefe;
  --formColor: #4e455a;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */

  width: 100vw;
  height: 100vw;

  background-color: #fff;
}

.wrapper {
  border: 1px solid var(--darker);
  margin: 3rem 0 0 3rem;
  width: 80%;
  height: 60%;

  max-width: 480px;
  max-height: 360px;

  display: flex;
  background-color: var(--background);
}

.wrapper .sidebar {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1 0 40%;
  background: var(--darker);
  padding: 1rem;

  color: var(--background);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

  flex: 1 0 60%;
  padding-left: 1rem;

  color: var(--formColor);
}

.wrapper form label {
  margin-bottom: 1rem;
  color: var(--formColor);
}
.wrapper form input {
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 1px solid rgb(58, 12, 13);
  color: var(--formColor);
  background-color: var(--background);
  width: 90%;
}

.wrapper form button {
  display: block;
  border-radius: 20px;
  color: black;
  margin-top: 1rem;
  padding: 0.3rem;
  border: none;
  outline: none;
  background-color: var(--lighter);
  font-size: 15px;
  width: 60%;
}

.wrapper form button:hover {
  /* font-size: 20px; */
  color: var(--background);
  font-style: bold;
  background-color: var(--darker);
}

.wrapper form button:focus {
  color: var(--background);
  font-style: bold;
  background-color: var(--darker);
  border: none;
  outline: none;
  width: 90%;
  transition: width 2s;
}
